.ocs-container {
  padding: 40px; 
  width: 100%;
  box-sizing: border-box; 
  background-color: #ffeaf2; 
  min-height: 100vh;
  border-radius: 20px; 
}

.ocs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Padronizado com posts */
}

.ocs-title {
  color: #95557e;
  font-size: 2rem;
  margin: 0;
}

.new-oc-btn {
  background-color: #2d0320;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 8px; 
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-right: 50px;
  font-size: 1rem; 
}

.ocs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px; 
}

.oc-card {
  background-color: #95557e;
  border-radius: 12px; /* Padronizado: igual à imagem de posts */
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.oc-card:hover {
  transform: scale(1.05); /* Padronizado com posts */
}

.oc-image-area {
  height: 150px;
  background-color: #f7c8da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oc-placeholder {
  width: 100%;
  height: 100%;
  background-color: #f7c8da;
}

.oc-info {
  padding: 10px;
  text-align: center;
}

.oc-name {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
  font-weight: bold;
}