@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
  font-family: 'Lexend Deca';
}

.new-post-container {
  padding: 20px;
  background-color: #ffeaf2;
  border-radius: 8px;
}

.new-post-title {
  color: #95557e;
  margin-bottom: 30px;
}

.new-post-form {
  display: flex;
  gap: 30px;
}

  .upload-section {
    flex: 1;
    
  }
  .upload-box {
  width: 250px;
  height: 250px;
  background-color: #f7c8da;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
.upload-box:hover {
  opacity: 0.9;
}
.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
}
.upload-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .image-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7c8da;
    height: 300px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-icon{
    color: white;
    font-size: 35px;
  }


.fields-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  color: #D76797;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input, .input-group select, .input-group textarea {
  background-color: #f7c8da;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #912b57;
}

.full {
  width: 100%;
}

.upload-btn {
  align-self: flex-end;
  background-color: #2d0320;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}